.loginForm{
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}

#user{
    position: relative;
    top:5px
}

#passw{
    position: relative;
    top:5px;
}

.submit{
    background-color: #4eb5f1;
    font-weight: 300;
}

.submit:hover{
    background-color:#4095c6;
}

