.logSign{
    position:relative;
    animation:logsign 5s infinite linear;
    display: flex;
    justify-content: space-evenly;
}


#login{
    position: relative;
    right: 20px
}

#login:link, #login:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #login:hover, #login:active {
    background-color: red;
  }

  #signup:link, #signup:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #signup:hover, #signup:active {
    background-color: red;
  }

  #home:link, #home:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #home:hover, #home:active {
    background-color: red;
  }

 h1 {
   color: olivedrab;
font-family: arial, sans-serif;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
  border: 3px solid green;
 }
